//Global
$white: #fff;
$baseText: #858C9D;
$fontSize: 12px;
$fontFace: Avenir, Helvetica, sans-serif;
$appBodyBG: #EBF3F6;
$green: #76D4E1;

//Fonts
//$fwLight: 'Avenir 35 Light';
$fwLight: 100;
//$fwBook: 'Avenir 45 Book';
$fwBook: 300;
//$fwRoman: 'Avenir 55 Roman';
$fwRoman: 400;
//$fwMedium: 'Avenir 65 Medium';
$fwMedium: 500;
//$fwHeavy: 'Avenir 85 Heavy';
$fwHeavy: 700;
//$fwBlack: 'Avenir 95 Black';
$fwBlack: 900;

//Sidebar
$sideNavWidth: 240px;
$darkBase: #353C51;
$darkBaseText: #B2B7C4;
$darkBaseBGHover: #424960;
$sidenavLiHeight: 36px;
$dividerColor: #242938;
$SBheaderSize: 10px;
$SBitemSize: 12px;
$SBcollapseBG: #424960;
$picBorder: #9196A1 solid 2px;

//Top Nav
$navBorder: #DCDCDC 1.5px solid;

@mixin fixedCenter {
	position: fixed;
	left: 0;
	right: 0;
}

html {
	font-family: $fontFace;
}

body {
	background-color: $white;
	color: $baseText;
	font-size: $fontSize;
}

header, main, footer, nav.top-nav {
	padding-left: $sideNavWidth;
}

nav {
	background: $white;
	border-bottom: $navBorder;
	box-shadow: none;
}

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.divider {
	background-color: $dividerColor;
}

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.side-nav.fixed {
	background-color: $darkBase;
	& a {
		color: $darkBaseText;
		&:hover {
			color: lighten($darkBaseText, 20%);
		}
	}
	& p.section-header {
		font-size: $SBheaderSize;
		padding-left: 10px;
		line-height: 10px;
		margin-top: 0;
	}
	li {
		line-height: $sidenavLiHeight;
		text-transform: uppercase;
		& a {
			font-size: $fontSize;
			line-height: $sidenavLiHeight;
			height: $sidenavLiHeight;
		}
	}
	& li:hover, & li.active {
		background-color: $darkBaseBGHover;
		& a {
			color: lighten($darkBaseText, 20%);
		}
	}
	& .sb-profile a {
		display: inline;
		padding: 0 8px;
		line-height: 36px;
	}
}

.sb-profile {
	padding-bottom: 0.4rem;
	& img {
		margin-top: 10px;
		margin-bottom: 6px;
		border: $picBorder;
	}
	& span {
		float: left;
	}
	& i {
		font-size: 2.2 * $fontSize;
	}
}

.dropdown-content li > span {
	font-size: $fontSize;
	color: $green;
	padding: 0.5rem;
}

.side-nav .collapsible-body {
	background-color: $SBcollapseBG;
	padding-bottom: 8px;
}

.collapsible-body p {
	padding: 0 0.7rem;
}

.sidenav-app-selector {
	padding: 0 20px;
}

.select-wrapper input.select-dropdown {
	border-bottom: none;
	margin-bottom: 0;
}

.logo-container {
	@include fixedCenter;
	width: 240px;
	bottom: 0px;
	z-index: 1000;
	background-color: $darkBase;
}

.logo-section {
	padding-top: 1.3rem;
	padding-bottom: 0.7rem;
}

//Top Nav Styles

nav.top-nav {
	height: 52px;
}

nav.top-nav ul a {
	color: $baseText;
	font-size: 1.5 * $fontSize;
	line-height: 48px;
}

#tn-controls a {
	border-left: $navBorder;
	padding: 0 18px;
}

.bc-divider {
	padding: 0 5px;
	color: $baseText;
}