/* CSS declarations go here */


.connection-list {
	display: inline;
}

#renderScreen {
	border: solid;
}

#editScreen {
	border: solid;
}


div.inline { float:left; }
.clearBoth { clear:both; }

#archy {
	height: 300px;
	width:  800px;
}

#home-content {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 400px;
}

#screenList {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 400px;
}

.centeredTable {
	margin-left: auto;
	margin-right: auto;
}

.centerCell {
	align: center;
}

