/* CSS declarations go here */


.connection-list {
	display: inline;
}

#renderScreen {
	border: solid;
}

#editScreen {
	border: solid;
}


div.inline { float:left; }
.clearBoth { clear:both; }

#archy {
	height: 300px;
	width:  800px;
}

