$baseText: #858C9D;
$darkBase: #353C51;
$alertOrange: #F5702E;
$activeGreen: #7ED321;
$inactiveRed: #B9513C;
$darkBaseText: #B2B7C4;
$headerColor: #676975;

body.viewer-body {
	background-color: $darkBase;
	// position:absolute;
	// top: 0px;
	// margin: 0; /* remove default margin */
	// padding: 0; remove default padding
	// width: 100%; /* take full browser width */
	// height: 100%; /* take full browser height*/
	display:-webkit-flex;
	display:flex;
	min-height: 100vh;
	-webkit-flex-direction: column;
	flex-direction: column;

	& header, main, footer {
		padding: 0;
		margin: 0;
		& h2 {
			margin: 0;
			padding: 0;
			text-align: center;
			line-height: 40px;
		}
	}
	& main {
		-webkit-flex:1;
		flex:1;
	}
	& a i.icon-ts-connection {
		transition: background-color 0.1s cubic-bezier(0.4, 0.0, 0.2, 1);
		border-radius: 50%;
		font-size: 15px;
		width: 22px;
		height: 22px;
		line-height: 29px;
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 7px;
		text-align: center;
		color: white;
		&.connected {
			background-color: $activeGreen;
		}
		&.disconnected {
			background-color: $inactiveRed;
		}
	}
	& .app-nav {
		font-size: 2.7em;
		margin-left: 10px;
		margin-top: 21px;
		line-height: 0;
		color: $headerColor;
		position: absolute;
		&:focus {
			outline: none;
		}
		&.hide-app-nav {
			display: none !important;
		}
	}
	& a.made-with {
		color: $headerColor;

	}
	& #sidenav-overlay {
		background-color: rgba(255, 255, 255, 0.5);
	}
	& .side-nav a {
		height: 52px;
		line-height: 52px;
	}
}

.view-wrapper {
	background-color: $darkBase;
	color: $alertOrange;
	border-color: $darkBaseText;
}

.flex-container {
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.flex-column {
	    display:-webkit-flex;
	    display:flex;
	    -webkit-flex-direction: column;
	    flex-direction: column;
	    -webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-justify-content: flex-start;
	    justify-content: flex-start;
	    -webkit-align-content: stretch;
	    align-content: stretch;
	    -webkit-align-items: stretch;
	    align-items: stretch;
}

.flex-item {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-webkit-align-self: stretch;
	align-self: stretch;
	
}

#screenList {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 400px;
}

.screenlink {
	margin: 5px;
}

.viewer-connection-stat {
	margin-right: 1rem;
	position: absolute;
	right: 0;
}

