// out: ./ide.css
///////////////////////////////////////////////////////////////////////////////////////
// Variables //
///////////////////////////////////////////////////////////////////////////////////////
//Global
$white: #fff;
$baseText: #858C9D;
$fontSize: 12px;
$fontFace: AvenirLTStd-Roman, Helvetica, sans-serif;
$appBodyBG: #EBF3F6;
$green: #76D4E1;
$whiteOverGreen: #F7FAFF;
$activeGreen: #7ED321;
$inactiveRed: #B9513C;
$brightGreen: #A0E396;
$editorGray: #CCCCCC;
$editorOrange: #E4A163;
$editorBlue: #AED8E6;
$editorRed: #FF628C;
$editorComment: #80ABD0;
$alertOrange: #F5702E;
$alertGreen: #9ED466;
$alertGray: #979797;
$appPadding: 25px;
$statusActive: #7ED321;
$materializeInputBorderInactive: 1px solid #E1E4E8;
$materializeInputBorderActive: 1px solid #4AAFE2;
$actionColor1: #0098DC;
$tableHover: #FDFDFD;
$tableStripe: #FBFFFD;
$errorBorderColor: #C3323E;
$errorBorder: 1px solid $errorBorderColor;
$pink: #EE6E73;
$dropdownArrowBlue: #4AAFE2;

//Buttons
$btnSocialColor: #76D4E1;
$twitterColor: #55ACEE;
$facebookColor: #3B5998;
$linkedInColor: #0077B5;
$updateButton: #19A1DE;

//Fonts
$fwLight: 'AvenirLTStd-Light';
.fwLight {
	font-family: $fwLight;
}
$fwBook: 'AvenirLTStd-Book';
.fwBook {
	font-family: $fwBook;
}
$fwRoman: 'AvenirLTStd-Roman';
.fwRoman {
	font-family: $fwRoman;
}
$fwMedium: 'AvenirLTStd-Medium';
.fwMedium {
	font-family: $fwMedium;
}
$fwHeavy: 'AvenirLTStd-Heavy';
.fwHeavy {
	font-family: $fwHeavy;
}
$fwBlack: 'AvenirLTStd-Black';
.fwBlack {
	font-family: $fwBlack;
}
// LCD-type font
.readout {
	font-family: 'Orbitron', sans-serif;
}

.lcdDisplay {
	font-family:'LCDBOLD',Serif;
}

strong {
	font-family: $fwMedium;
}

//Sidebar
$sideNavWidth: 200px;
$darkBase: #353C51;
$darkBaseText: #B2B7C4;
$darkBaseBGHover: #424960;
$sidenavLiHeight: 36px;
$sidebarDividerColor: #242938;
$SBheaderSize: 10px;
$SBitemSize: 12px;
$SBcollapseBG: #424960;
$picBorder: #9196A1 solid 2px;

//Top Nav
$navBorder: #DCDCDC 1.5px solid;

// App Header
$headerColor: #676975;
$headerActionButton2Color: #DCDCDC;

//App Body
$bodyDividerColor: #D0D3DC;

//Login styles
$registerColor: #D2D5D9;
$forgotColor: #ADB4C5;
$loginInputColor: #9e9e9e;

///////////////////////////////////////////////////////////////////////////////////////
// Global Styles, Mixins //
///////////////////////////////////////////////////////////////////////////////////////
* {
	box-sizing: border-box;
}

@mixin fixedCenter {
	position: fixed;
	left: 0;
	right: 0;
}

@mixin dropdownArrow {
	color: $dropdownArrowBlue;
	font-size: $fontSize;
	line-height: 21px;
}

@mixin disabledStyle {
	border-color: lighten($baseText, 20%);
	color: lighten($baseText, 20%);
}

@mixin transition($property, $duration, $method:"") {
	-webkit-transition: $property $duration unquote($method);
	-moz-transition: $property $duration unquote($method);
	-o-transition: $property $duration unquote($method);
	-ms-transition: $property $duration unquote($method);
	transition: $property $duration unquote($method);
}

html, body {
	height: 100% !important;
	overflow-x: hidden;
}

html {
	font-family: $fontFace;
	background-color: $appBodyBG;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;

}

body {
	color: $baseText;
	font-size: $fontSize;
	font-weight: normal;
	font-style: normal;
	position: relative;
}

main {
	padding-left: $sideNavWidth;
}

header,
footer {
	padding-left: $appPadding + $sideNavWidth;
	padding-right: $appPadding - 10;
}

a.hide-header {
	color: $baseText;
	font-size: $fontSize * 2;
	line-height: 43px;
	transition: color 0.1s cubic-bezier(0.4, 0.0, 0.2, 1);
	nav.top-nav &:active  {
		color: rgba(0, 0, 0, 0.1);
	}
}


.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.row {
	margin-bottom: 0;
}

.divider {
	background-color: $sidebarDividerColor;
}

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
	border-bottom: $materializeInputBorderInactive;
	margin-bottom: 0;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: $materializeInputBorderActive;
}

h2 {
	font-size: 1.7em;
	font-weight: 400;
	color: $baseText;
	line-height: 1.5em;
	font-family: $fwHeavy;
}

.h2-details {
	font-family: $fwLight;
	font-size: 15.4px;
	font-style: italic;
	display: inline-block;
	margin-left: 0.6em;
}

h3 {
	font-size: 1.2em;
	font-weight: 500;
	line-height: 1.5em;
}

label, form p {
	font-size: 1.1em;
}

table.striped tbody tr:nth-child(odd) {
	background-color: lighten($appBodyBG, 2%);
}

#lean-overlay {
	background-color: #FFF;
}

.modal-content p {
	padding: 0 1em;
	font-size: 16px;
}

.white-bg {
	background-color: $white;
}

.pos-rel {
	position: relative;
}

.div-inline {
	display: inline;
}

.ts-tooltip {
	background-color: $baseText;
	color: white;
	height: 20px;
	width: 20px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	top: 0.8em;
	left: 6.5em;
	padding-top: 0.15em;
}

///////////////////////////////////////////////////////////////////////////////////////
// Global DOM States //
///////////////////////////////////////////////////////////////////////////////////////

// a:hover {
// 	color: darken($color, 20%);
// }

///////////////////////////////////////////////////////////////////////////////////////
// Sidebar //
///////////////////////////////////////////////////////////////////////////////////////

.side-nav {
	width: 200px;
	font-family: $fwBook;
	& a.collapsible-header {
		margin: 0;
		padding: 0 30px;
	}
}

.side-nav.fixed {
	background-color: $darkBase;
	& a {
		color: $darkBaseText;
		padding: 0 8px;
		&:hover {
			color: lighten($darkBaseText, 20%);
		}
	}
	& p.section-header {
		font-family: $fwHeavy;
		letter-spacing: 0.05px;
		font-size: $SBheaderSize;
		padding-left: 10px;
		line-height: 10px;
		margin-top: 0;
	}
	& li {
		line-height: $sidenavLiHeight;
		text-transform: uppercase;
		position: relative;
		& a {
			letter-spacing: 0.1px;
			font-size: $fontSize;
			line-height: $sidenavLiHeight;
			height: $sidenavLiHeight;
		}
		span {
			margin-left: 28px;
		}
	}
	& i {
		float: left;
		font-size: 1.6 * $fontSize;
		padding-right: 10px;
		margin-top: 6px;
	}
	& i[class^="icon-ts"] {
		font-size: 16px;
		position: absolute;
		top: -3px;
	}
	& p.my-name {
		position: relative;
		margin-top: 0.5rem;
		padding-top: 0.2rem;
		padding-bottom: 0.7rem;
		display: inline;
		padding-right: 2em;
		& i {
			position: absolute;
			right: 0;
			top: -15px;
			float: none;
			display: inline;
			padding: 0;
			width: auto;
			margin-right: 0;
		}
	}
	& li:hover, & li.active {
		background-color: $darkBaseBGHover;
		& a {
			color: lighten($darkBaseText, 20%);
		}
	}
	& .divider {
		background-color: $sidebarDividerColor;
	}
}

.sb-profile {
	padding-bottom: 0.2rem;
	a {
		display: inline;
		padding: 0 8px;
		line-height: 36px;
	}
	img {
		margin-top: 10px;
		margin-bottom: 5px;
		border: $picBorder;
		max-width: 84px;
		max-height: auto;
	}
	i {
		font-size: 2.2 * $fontSize;
	}
	.collapsible-header {
		margin: 0;
	}
}

.side-nav .help .collapsible li {
	padding: 0 15px;
	& ul li {
		padding: 0;
		& a {
			padding: 0;
		}
	}
}

.selectize-dropdown {
	padding: 0;
	& .active {
		color: $headerColor;
	}
}

.selectize-dropdown, .selectize-input, .selectize-input input {
	color: $baseText;
	font-family: $fwRoman;
	font-size: 15px;
}

.selectize-input {
	border-radius: 0;
	height: 45px;
	line-height: 47px;
	padding: 0 8px;
}

.selectize-control.single .selectize-input {
	background-color: $white;
	background-image: none;
	background-repeat: no-repeat;
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
	border-color: transparent;
}

.selectize-control {
	max-width: 300px;
}

.selectize-control.form-control {
	text-indent: 4px;
}

.single-page-container .selectize-control.form-control {
	text-indent: 0;
	& .selectize-input {
		text-indent: 2px;
	}
}

.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
	padding: 16px 3px 14px;
	&.selected::after {
		font-family: 'ts-icons';
		content: "d";
		vertical-align: middle;
		margin-left: 1em;
	}
}

.selectize-control.single .selectize-input:after, .selectize-control.single .selectize-input.dropdown-active:after {
	border-color: $dropdownArrowBlue transparent transparent transparent;
	margin-top: -5px;
	border-width: 10px 8px 0px 8px;
	transition: border-width 0.1s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.selectize-control.single .selectize-input.dropdown-active:after {
	border-color: transparent transparent $dropdownArrowBlue transparent;
	border-width: 0 8px 10px 8px;
}

.single-page-container .selectize-control.form-control.single {
	display: inline-block;
	width: 300px;
	vertical-align: middle;
	margin-top: 6px;
}

.selectize-adjust {
	margin-top: -6px;
}

.dropdown-content li > span {
	font-size: $fontSize;
	color: $green;
	padding: 0.5rem;
}

.side-nav .collapsible-body {
	background-color: $darkBase;
	padding-bottom: 8px;
}

.collapsible-body p {
	padding: 0 0.7rem;
}

.select-wrapper input.select-dropdown {
	border-bottom: none;
	margin-bottom: 0;
}

.side-nav .select-parent {
	height: 45px;
}

.sidenav-app-selector {
	padding: 0 20px;
}

a.collapsible-header.no-pad {
	padding: 0;
}

.no-pad i.mdi-editor-format-align-left {
	margin-right: 0;
}

.logo-container {
	@include fixedCenter;
	width: 200px;
	bottom: 0px;
	z-index: 999;
	background-color: $darkBase;
}

.logo-section {
	padding-top: 1.3rem;
	padding-bottom: 0.7rem;
}

///////////////////////////////////////////////////////////////////////////////////////
// Top Nav //
///////////////////////////////////////////////////////////////////////////////////////

nav.top-nav {
	overflow: hidden;
	height: 52px;
	background: $white;
	border-bottom: $navBorder;
	box-shadow: none;
	font-family: $fwLight;
	padding-left: $sideNavWidth + 10;
	& a {
		color: $baseText;
		font-size: 1.2 * $fontSize;
		line-height: 52px;
		padding: 0 5px;
	}
	& a i {
		font-size: 1.9 * $fontSize;
	}
	& a i[class^="icon-ts"] {
		font-size: 1.5 * $fontSize;
		line-height: 57px;
	}
	& a i.icon-ts-connection {
		transition: background-color 0.1s cubic-bezier(0.4, 0.0, 0.2, 1);
		border-radius: 50%;
		font-size: 15px;
		width: 22px;
		height: 22px;
		line-height: 29px;
		display: inline-block;
		margin-top: 14px;
		text-align: center;
		color: white;
		&.connected {
			background-color: $activeGreen;
		}
		&.disconnected {
			-webkit-animation: blink 3s 0s ease-in-out infinite;
			-moz-animation: blink 3s 0s ease-in-out infinite;
			-ms-animation: blink 3s 0s ease-in-out infinite;
			-o-animation: blink 3s 0s ease-in-out infinite;
			animation: blink 3s 0s ease-in-out infinite;
		}
	}
}

//Breadcrumb

.breadcrumb {
	& li:first-child {
		padding-left: 8px;
		& i {
			line-height: 46px;
			margin-right: 5px;
			float: left;
		}
	}
	& .bcd {
		line-height: 56px;
		font-family: $fwBook;
		font-size: 17px;
	}
	& .bcds {
		padding: 0 2px;
		color: $baseText;
	}
}

// TopNav MQTT & Debug Dropdown controls

#tnc a {
	border-left: $navBorder;
	padding: 0 16px;
	line-height: 50px;
}

.debug {
	transform: translateX(100%);
	-ms-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
	background-color: $white;
	z-index: 11;
	position: absolute;
	top: 52px;
	right: 0;
	width: 550px;
	max-height: 700px;
	border: $navBorder;
	will-change: translateY, transform;
	table {
		margin-bottom: 2em;
	}
	h2 {
		background-color: $appBodyBG;
		font-family: $fwBook;
		font-size: $fontSize * 1.666667;
		color: $headerColor;
		padding: 0.3em 15px;
		margin: 0;
		display: inline-block;
		width: 100%;
		i {
			position: absolute;
			top: 9px;
			left: 13px;
		}
		span {
			display: inline-block;
			margin-left: 27px;
		}
	}
	h3 {
		color: $headerColor;
		text-transform: uppercase;
		font-family: $fwBlack;
		padding-left: 15px;
		margin-top: 0.8em;
		margin-bottom: 0em;
	}
	th {
		font-family: $fwMedium;
		text-transform: capitalize;
		color: $headerColor;
	}
	td {
		padding-top: 4px;
		padding-bottom: 4px;
		overflow: hidden;
	}
	td:first-child, th:first-child {
		padding-left: 15px;
	}
	td:last-child, th:last-child {
		padding-right: 15px;
		padding-left: 15px;
	}
}

a.view-full-debug {
	color: $green;
	border-bottom: 2px solid $green;
	font-size: 0.7em;
	line-height: 1.1em;
	padding-top: 0.5em;
}

.debug.debug-open {
	transform: translateX(0%);
	-ms-transform: translateX(0%);
	-webkit-transform: translateX(0%);
}

.debug-page {
	th {
		background-color: transparent;
	}
}

///////////////////////////////////////////////////////////////////////////////////////
// Error Reporting //
///////////////////////////////////////////////////////////////////////////////////////

.access-error, .screen-errors {
	border: $errorBorder;
	color: $errorBorderColor;
	background-color: lighten($errorBorderColor, 50%);
}

.alerts {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: block;
	border-top-right-radius: 1px;
}

.alert {
	background-color: $white;
	clear: both;
}

.alert-type {
	display: inline-block;
	color: $white;
	height: 40px;
	padding: 0 1rem;
	line-height: 3.2em;
	border-top-left-radius: 1px;
	margin-right: 0.6rem;
}

.alert-type.warning {
	background-color: $alertOrange;
}

.alert-type.success {
	background-color: $alertGreen;
}

.alert a.close:not(.dismiss) {
	  border-radius: 50%;
	  width: 21px;
	  height: 21px;
	  border: 1px solid $alertGray;
	  color: $alertGray;
	  line-height: 16px;
	  text-align: center;
	  padding-top: 2px;
	  background-color: white;
	  font-size: 17px;
	  margin-top: 9px;
	  margin-right: 9px;
	  text-align: center;
}

.alert a.close.dismiss {
	border: none;
	background-color: transparent;
	color: $alertGray;
	line-height: 40px;
	margin-right: 10px;
}

.alert.success {
	animation: fadeOut 2700ms ease-in 0s 1 forwards;
}

.alert span {
	font-family: $fwMedium;
}

///////////////////////////////////////////////////////////////////////////////////////
// App Header //
///////////////////////////////////////////////////////////////////////////////////////

header {
	padding-top: 25px;
	padding-bottom: 0;
	background-color: $white;
}

h1 {
	font-size: 2.25 * $fontSize;
	font-family: $fwBook;
	color: $headerColor;
	margin: 0 0 6px;
}

a.header-action-1 {
	line-height: 7px;
	font-size: $fontSize * 1.0833;
	font-family: $fwMedium;
	color: $green;
}

.header-action-2 {
	background-color: transparent;
	border: 1px solid $headerActionButton2Color;
	border-radius: 24px;
	color: $baseText;
	padding: 0 0.8rem;
	height: 44px;
	line-height: 45px;
	box-shadow: none;
	text-transform: none;
	&:hover {
		background-color: transparent;
	}
}

.ha2-status {
	float: left;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin-right: 6px;
	margin-top: 13px;
}

.status-active {
	background-color: $statusActive;
}

.status-online {
	background-color: lighten($statusActive, 30%);
}

.status-retry {
	background-color: yellow;
}
.status-offline{
	background-color: red;
}

.topic-video {
	font-size: 2.6em;
	color: $baseText;
	border: 1px solid $baseText;
	line-height: 1em;
	height: 34px;
	width: 52px;
	text-align: center;
	border-radius: 9px;
	margin-right: 15px;
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	&:hover {
		background-color: transparent;
	}
	& i {
		font-size: 1em;
		color: lighten($baseText, 5%);
	}
}

///////////////////////////////////////////////////////////////////////////////////////
// App Body//
///////////////////////////////////////////////////////////////////////////////////////

main {
	position: relative;
}

table {
	table-layout: fixed;
}

.single-page-container {
	padding-top: 1.5em;
}

.row .col {
	padding: 0 0.6rem;
}

thead {
	border-bottom: $navBorder;
}

th {
	font-family: $fwHeavy;
	font-size: 13px;
	letter-spacing: 0.3px;
	background: $white;
	text-transform: uppercase;
	padding: 15px 0;
	border-radius: 0;
}

table.hoverable {
	&:hover {
		box-shadow: none;
	}
	& tbody tr:hover {
		background-color: lighten($appBodyBG, 2%);
	}
}

td {
	padding: 6px 0;
}

tr.spacer td {
	@include transition(padding-top, 0.1s, cubic-bezier(0.4, 0.0, 0.2, 1));
	padding-top: 0px;
	will-change: padding-top;
}

tr.spacer.form-open td {
	padding-top: 140px;
	will-change: padding-top;
}

td:first-child, th:first-child {
	padding-left: $appPadding;
}

td:last-child, th:last-child {
	padding-right: $appPadding - 10;
}

td.dropdown-td {
	margin-top: 6px;
	display: inline-block;
}

.dropdown-content li > a,
.dropdown-content li > span {
	font-size: 1rem;
	color: $green;
}

.add-new-item {
	@include transition(opacity, 0.1s, cubic-bezier(0.4, 0.0, 0.2, 1));
	transition-delay: 0.05s;
	position: absolute;
	top: 50px;
	width: calc(100% - #{$sideNavWidth});
	display: none;
	will-change: opacity, display;
	& .divider {
		background-color: $bodyDividerColor;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&.open {
		display: block;
		will-change: opacity, display;
		z-index: 2;
	}
	& form {
		padding-top: 24px;
	}
	& .form-group {
		margin-right: 30px;
	}
	& .form-control {
		padding: 0;
	}
	& .control-label {
		display: none;
	}
	&.new-mqtt-feed .selectize-control.form-control.single {
		width: 170px;
	}
	&.new-http-feed .selectize-control.form-control.single.connection-dd {
		width: 160px;
	}
	&.new-http-feed .selectize-control.form-control.single {
		width: 90px;
	}
	&.new-mqtt-connection .selectize-control.form-control.single {
		width: 180px;
	}
	&.new-app .selectize-control.form-control.single {
		width: 160px;
	}
	&.new-widget .selectize-control.form-control.single {
		width: 210px;
	}
	// & .select-wrapper i {
	// 	@include dropdownArrow;
	// }
	& input.select-dropdown {
		padding-left: 14px;
	}

}
.table-action.table-save-new i.icon-ts-checkmark {
	line-height: 33px;
}


.div-container {
	margin: -7px auto 0;
	padding: 1rem 0 0 0;
	position: relative;
	width: calc(100% - (2 * #{$appPadding}));
}

.dd-bg {
	background-color: $appBodyBG;
	padding: 0 2.6rem 0 1rem;
	width: 40px;
	position: absolute;
	left: 50%;
	top: 68%;
}

.divider-decoration {
	border-radius: 50%;
	border: 1px solid #D0D3DC;
	background-color: #FAFAFC;
	display: inline-block;
	height: 24px;
	width: 24px;
	& i {
		color: #B9BDC9;
		font-size: 2 * $fontSize;
		line-height: 22px;
		margin-left: -0.4px;
	}
}

table, .single-page-container {
	font-family: $fwBook;
	font-size: 14px;
}

.table-action {
	border: 1px solid $baseText;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: inline-block;
	background-color: transparent;
	text-align: center;
	color: $baseText;
	&:not(:last-child) {
		margin-right: 5px;
	}
	& i {
		font-size: 1.6 * $fontSize;
		line-height: 27px;
	}
	& i[class^="icon-ts"] {
		font-size: 16px;
		line-height: 33px;
		text-align: center;
	}
	& i.icon-ts-checkmark {
		line-height: 37px;
	}
	& i.icon-ts-trash {
		font-size: 18px;
		line-height: 38px;
	}
}

.card .card-action a.active-app {
	background-color: $activeGreen;
	border-color: $activeGreen;
}

.table-action.active-app i.icon-ts-checkmark {
	color: $white;
}

.table-action.ta-disabled,
.card .card-action a.ta-disabled,
 {
	@include disabledStyle;
	background-color: transparent;
}

.feeds-list-action {
	width: 84px;
}

///////////////////////////////////////////////////////////////////////////////////////
// App Body - Modals //
///////////////////////////////////////////////////////////////////////////////////////

.modal {
	width: 400px;
}

.modal .modal-content {
	padding: 0;
}

h4.modal-title {
	background-color: #76D4E1;
	color: $white;
	padding: 4px 11px 2px;
	font-size: 1.2 * $fontSize;
	& i {
		font-size: 2em;
		position: absolute;
		line-height: 36px;
	}
}

.modal-close {
	padding: 0;
	color: white;
	font-size: 1.7em;
	line-height: 1.7em;
}

.modal .modal-footer {
	height: 48px;
	padding: 0;
}

.modal .modal-footer .btn-flat {
	width: 90px;
	font-family: $fwHeavy;
	color: $baseText;
	width: 100%;
	&:hover {
		background-color: $white;
	}
}

.modal-header {
	padding-left: 2.1em;
	font-size: 1.2em;
	line-height: 2.3em;
}

///////////////////////////////////////////////////////////////////////////////////////
// App Body - Item Pages //
///////////////////////////////////////////////////////////////////////////////////////

.top-row {
	background-color: $white;
}

.single-page-container {
	padding-left: $appPadding;
	padding-right: $appPadding;
}

.btn-save {
	background-color: $actionColor1;
	border-radius: 24px;
	color: $white;
	margin-top: 2em;
	padding: 0.5em 1.6em;
	height: auto;
}

.single-page-container .control-label {
	display: inline-block;
	text-align: left;
	width: 9em;
	font-family: $fwHeavy;
	color: $baseText;
}

.single-page-container .autoform-array-item .control-label {
	padding-top: 10px;
}

.single-page-container .form-group, .single-page-container .info-group {
	margin-bottom: 0.7rem;
	border-bottom: 1px solid $bodyDividerColor;
	padding-top: 0.5em;
	padding-bottom: 1.9em;
}

.single-page-container input {
	max-width: 300px;
	&[type="password"] {
		line-height: 49px;
	}
	&.wide-input {
		max-width: 1200px;
	}
}

.single-page-container textarea {
	background-color: $white;
	border: none;
	height: auto;
	border-bottom: 2px solid $white;
	transition: border-color 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
	&:focus {
		outline: none;
		border-color: $dropdownArrowBlue;
	}
}

.form-group input {
	font-family: $fwBook;
	background: $white;
	text-indent: 14px;
}

// Handling extra padding for Selectize dropdowns on detail pages
#updateConnectionForm .form-group:nth-child(4), #updateFeedForm .form-group:nth-child(3) {
	padding-top: 0;
	margin-top: -5px;
	padding-bottom: 1em;
}

.checkbox-left {
	float: left;
	margin-right: 2em;
	line-height: 50px;
	width: 150px;
}

.fw-regular {
	font-family: $fwRoman;
}

.row .tabs-container {
	padding-left: 0;
	margin-top: 2px;
}

.tabs .tab {
	letter-spacing: 0.6px;
	& a {
		color: $baseText;
		font-family: $fwBlack;
		font-size: $fontSize * 1.08333;
	}
	& a:hover {
		color: $baseText;
	}
}

.tabs .indicator {
	background-color: $updateButton;
	height: 3px;
}

.mdi-image-brightness-1 {
	color: $statusActive;
}

.select-wrapper span.caret {
	@include dropdownArrow;
	z-index: 1;
}

form[id^="update"] .select-wrapper span.caret {
	line-height: 28px;
}

.select-wrapper.form-control {
	display: inline-block;
	& input.select-dropdown {
		background-color: $white;
		padding-left: 15px;
	}
	& .mdi-navigation-arrow-drop-down {
		@include dropdownArrow;
		font-size: 36px;
		right: -14px;
		line-height: 58px;
		z-index: 1;
	}
}

.add-new-item .select-wrapper.form-control .mdi-navigation-arrow-drop-down {
	line-height: 46px;
}

[type="checkbox"] + label {
	color: $baseText;
}

[type="checkbox"].filled-in:not(:checked) + label:after {
	border: 2px solid $baseText;
}

[type="checkbox"].filled-in:checked + label:after {
	border: 2px solid $actionColor1;
  	background-color: $actionColor1;
}

[type="checkbox"]:checked + label:before {
	border-right: 2px solid $updateButton;
	border-bottom: 2px solid $updateButton;
}

.autoform-array-item [type="checkbox"] + label {
	height: 15px;
}

///////////////////////////////////////////////////////////////////////////////////////
// Template Editor //
///////////////////////////////////////////////////////////////////////////////////////

pre.ace_editor {
	line-height: 1.4em;
	font-size: 13px;
}

div.ace_content {
	background-color: $darkBase;
}

.ace_print-margin {
	display: none;
}

div.ace_gutter {
	background-color: $darkBase;
}

div.ace_layer.ace_gutter-layer.ace_folding-enabled {
	background-color: darken($darkBase, 5%);
}

.single-page-container #html .form-group,
.single-page-container #js .form-group,
.single-page-container #css .form-group,
.single-page-container #preview .form-group,
.single-page-container #appjs .form-group {
	border-bottom: none;
}

#html,
#js,
#preview,
#css,
#appjs {
	position: relative;
}

#html .control-label,
#js .control-label,
#css .control-label,
#appjs .control-label {
	display: none;
}

#html .form-group,
#js .form-group,
#css .form-group,
#appjs .form-group {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

#archy,
#archyjs,
#archycss,
#archyappjs {
  border: solid;
	height: 500px;
	min-width:  800px;
	border-radius: 3px;
}

#preview {
	background-color: $darkBase;
	max-width: 600px;
	margin: 0 auto;
	padding: 10px;
}

pre[name="html"],
pre[name="js"],
pre[name="css"] {
	line-height: 0;
}

pre[name="html"],
pre[name="js"],
pre.ace_editor,
pre[name="css"] {
	margin: 0;
}

pre.ace-cobalt .ace_meta.ace_tag {
	color: $editorBlue;
}

pre.ace-cobalt .ace_string {
	color: $brightGreen;
}

pre.ace-cobalt .ace_keyword,
pre.ace-cobalt .ace_meta {
	color: $editorGray;
}

pre.ace-cobalt .ace_entity {
	color: $editorBlue;
}

pre.ace-cobalt .ace_storage,
pre.ace-cobalt .ace_variable {
	color: $editorOrange;
}

pre.ace-cobalt .ace_constant,
pre.ace-cobalt .ace_constant.ace_character,
pre.ace-cobalt .ace_constant.ace_character.ace_escape,
pre.ace-cobalt .ace_constant.ace_other {
	color: $white;
}

pre.ace-cobalt .ace_comment {
	color: $editorComment;
}

///////////////////////////////////////////////////////////////////////////////////////
// Buttons //
///////////////////////////////////////////////////////////////////////////////////////

// Common

.ts-green {
	background-color: $green !important;
}

.new-list-item {
	margin-top: -4px;
	margin-left: 20px;
	box-shadow: none;
	&:hover {
		box-shadow: none;
		background-color: lighten($green, 7%) !important;
	}
}

.btn-share {
	background-color: $actionColor1;
}

.btn.btn-update {
	margin-top: 1em;
	background-color: $updateButton;
	padding: 0 0.9rem;
	height: 44px;
	border-radius: 2px;
	line-height:48px;
}

button.btn-plus, {
	background-color: $updateButton;
	&:hover, &:focus {
		background-color: $updateButton;
	}
}

// Social share
.btn-social {
	padding: 0.3rem 1rem;
	border-radius: 0;
	text-transform: none;
	height: auto;
	background-color: $btnSocialColor;
	&:hover {
		background-color: saturate($btnSocialColor, 10%);
	}
}

.btn-social:not(:last-child) {
	margin-right: 15px;
}

.btn-twitter {
	background-color: $twitterColor;
	&:hover {
		background-color: saturate($twitterColor, 10%);
	}
}

.btn-facebook {
	background-color: $facebookColor;
	&:hover {
		background-color: saturate($facebookColor, 10%);
	}
}

.btn-linkedin {
	background-color: $linkedInColor;
	&:hover {
		background-color: saturate($linkedInColor, 10%);
	}
}

.btn-flat {
	color: $white;
}

.btn-center {
	margin: 1em auto;
	display: block;
}

.btn-more-videos {
	width: 180px;
}

///////////////////////////////////////////////////////////////////////////////////////
// App Detail //
///////////////////////////////////////////////////////////////////////////////////////

.app-detail .control-label {
	display: none;
}

.app-detail .form-group {
	padding-top: 0.2em;
	padding-bottom: 2em;
	&.inline-checkboxes {
		padding-bottom: 0.6em;
	}
}

.studio-url {
	margin-top: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid $bodyDividerColor;
}

///////////////////////////////////////////////////////////////////////////////////////
// Widgets List //
///////////////////////////////////////////////////////////////////////////////////////

.single-page-container.widgets, .single-page-container.apps {
	@include transition(padding-top, 0.1s, cubic-bezier(0.4, 0.0, 0.2, 1));
	padding-top: 1.15em;
	will-change: padding-top;
	padding-left: $appPadding - 10px;
	padding-right: $appPadding - 10px;
}

.single-page-container.form-open {
	padding-top: 140px;
}

.card {
	margin: 0.5rem 0 0.8rem 0;
}

.card.small {
	height: 270px;
	& .card-content {
		height: 198px;
	}
}

.card .card-content .card-title, .card .card-reveal .card-title {
	color: $headerColor;
	line-height: 24px;
	display: block;
	margin-bottom: 15px;
}

.card .card-title {
	font-size: $fontSize * 1.75;
}

#getting-started .card-title {
	font-size: $fontSize * 1.5;
}

.widget-container {
	text-align: center;
	height: 150px;
	margin: 10px 0;
}

.widget-container svg {
	max-height: 150px;
	height: 100%;
	max-width: 100%;
	background-color: #353C51;
	will-change: transform, fill;
}

.widget-container outer {
	width: 100%;
	padding-top: 75%;
	position: relative;
}

.widget-container inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

// .svg-container svg {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 87%;
// }

.card .card-action {
	padding: 10px;
	background-color: rgba(136, 160, 160, 0.02);
}

.card .card-action a,  {
	color: $baseText;
	margin-right: 2px;
	background-color: $white;
	&:hover {
		color: $baseText;
	}
}

table.widget-item {
	margin-top: 1em;
	& thead {
		font-family: $fwHeavy;
		& td:first-child, th:first-child {
			padding-left: 0px;
		}
		& td:last-child, th:last-child {
			padding-right: 0px;
		}
	}
	& tbody {
		& td:first-child, th:first-child {
			padding-left: 5px;
		}
		& td:last-child, th:last-child {
			padding-right: 5px;
		}
	}
}

.usage {
	margin: 0.5rem 0;
}

.usage-inner {
	display: block;
	background: $darkBase;
	color: $white;
	padding: 5px;
}

.detail .usage-inner {
	padding: 10px;
}

.element {
	color: $editorBlue;
}

.parameter {
	color: $editorOrange;
}

.info-group.detail {
	padding-top: 0.2em;
	padding-bottom: 2em;
}

.widget-view {
	&.striped tbody tr:nth-child(odd) {
		background-color: #FCFDFD;
	}
	& thead td {
		font-family: $fwBlack;
		padding-top: 1em;
		padding-bottom: 1em;
		text-transform: uppercase;
		letter-spacing: 0.4px;
	}
	tbody td {
		padding-top: 1em;
		padding-bottom: 1em;
		line-height: 20px;
	}
	& td:first-child, th:first-child {
		padding-left: 25px;
	}
	& td:last-child, th:last-child {
		padding-right: 25px;
	}

}

.code-preview {
	background-color: $white;
	color: $baseText;
	padding: 1em;
}

///////////////////////////////////////////////////////////////////////////////////////
// System Widgets //
///////////////////////////////////////////////////////////////////////////////////////

//Keypad

.keypad-row {
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
}

.keypad .key {
      width: 4rem;
      height: 4rem;
      line-height: 4.5rem;
      font-size: 2rem;
      &.asterisk {
		font-size: 3rem;
		line-height: 5.7rem;
      }
}

///////////////////////////////////////////////////////////////////////////////////////
// Documentation //
///////////////////////////////////////////////////////////////////////////////////////

span.title {
	color: darken($baseText, 10%);
}

.collection {
	margin-top: 0;
}

.docheader h1 {
	margin-top: 1em;
	font-family: $fwHeavy;
	font-size: 2.6em;
	margin-bottom: 0.1em;
}

.docheader p {
	font-size: 1.5em;
	font-family: $fwMedium;
	margin: 0;
}

.single-page-container.docpage {
	background-color: $white;
}

.docpage h2 {
	color: $headerColor;
	font-size: 1.6em;
	font-family: $fwHeavy;
	letter-spacing: 0.1px;
}

.docpage h3 {
	color: $headerColor;
	font-size: 1.3em;
	font-family: $fwHeavy;
	letter-spacing: 0.1px;
}

.docpage p,
.docpage ul {
	font-size: 1.285714em;
	font-family: $fwLight;
	line-height: 1.6em;
}

.docpage ul {
	margin-left: 1em;
}

.docpage ul li {
	list-style: disc;
	line-height: 1.6em;
}

.docpage pre p {
	margin: 0;
}

.docpage pre, .docpage code {
	background-color: $appBodyBG;
	padding: 30px;
	border: solid 2px #DEE5E8;
	line-height: 1.75em;
}

.docpage pre code {
	background-color: transparent;
	padding: 0;
	border: none;
}

.docpage thead {
	border: 1px solid #d0d0d0;
}

.docpage thead th {
	background-color: $appBodyBG;
}

.docpage table tr {
	border-bottom: 1px solid #d0d0d0;
}

#helpfooter {
	clear: both;
	padding: 10em 0 1em;
	& p {
		text-align: center;
	}
}

///////////////////////////////////////////////////////////////////////////////////////
// Video Tutorials //
///////////////////////////////////////////////////////////////////////////////////////

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#getting-started {
	padding-top: 10px;
}

#getting-started .card {
	margin: 30px 20px 20px;
}

.col.welcome-body {
	padding-top: 40px;

}

h1.welcome-header {
	padding: 0.5em 0;
	text-align: center;
	& span {
		border-bottom: 2px solid #19A1DE;
	}
}

///////////////////////////////////////////////////////////////////////////////////////
// Prorifle & Settings //
///////////////////////////////////////////////////////////////////////////////////////

.panel-heading {
	display: none;
}

.settings-picture {
	height: 10em;
	& label {
		padding-top: 2em;
	}
	& img {
		position: absolute;
		border: $picBorder;
	}
}

.form-group.change-pass {
	padding-top: 1.2em;
}

///////////////////////////////////////////////////////////////////////////////////////
// Credentials //
///////////////////////////////////////////////////////////////////////////////////////

.credentials-body header {
	background-color: $appBodyBG;
}

.credentials-form {
	max-width: 450px;
	margin: 0 auto;
	& h2{
		font-family: $fwMedium;
		color: $headerColor;
		text-align: center;
		font-size: 2em;
	}
	fieldset {
		margin: 0;
		padding: 0 4px 0 0;
		border: none;
	}
	& input[type="text"], input[type="password"] {
		height: 60px;
		border: 2px solid #D2D5D9;
		color: #9e9e9e;
		text-indent: 14px;
		margin-bottom: 1em;
		font-size: 1rem;
	}
	.btn-login {
		font-family: "AvenirLTStd-Book";
		height: 60px;
		background-color: #76D4E1;
		margin-top: 0.8em;
		text-transform: none;
		font-size: 1.7em;
		line-height: 3.1em;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 2px;
		display: block;
		width: 100%;
	}
}

///////////////////////////////////////////////////////////////////////////////////////
// App Footer //
///////////////////////////////////////////////////////////////////////////////////////

footer {
	background-color: $appBodyBG;
	// padding-top: 40px;
	// padding-bottom: 10px;
}

@media only screen and (max-width: 992px) {
	.side-nav.fixed {
		left: 0;
	}
}

///////////////////////////////////////////////////////////////////////////////////////
// Login Form & Preloader //
///////////////////////////////////////////////////////////////////////////////////////

// .at-pwd-form {
// 	background: $darkBase;
// }

.spinner-container {
	float: left;
}

.loading-info {
	font-size: 1.25 * $fontSize;
	padding-top: 0.6em;
	margin-left: 5.4em;
}

///////////////////////////////////////////////////////////////////////////////////////
// Chat //
///////////////////////////////////////////////////////////////////////////////////////

.chat-window {
	height: 500px;
}

.chat-messages {
	overflow-y: auto;
	height: 460px;
	padding-right: 1em;
	padding-down: 1em;
}

.chat-entry {
	clear: left;
}

.chat-person {
	float: left;
}

.chat-img {
	width: 3em;
	height: 3em;
}

.chat-person, .chat-message {
	padding: 0.5em;
}

.chat-message {
	& p {
		padding: 0;
		margin: 0;
		margin-left: 6em;
	}
}

.cb {
	clear: both;
}

.chat-me {
	background-color: #C9F0FD;
	color: $darkBase;
}

.chat-other {
	background-color: #56BEED;
	color: white;
}

.chat-admin {
	background-color: #ee6e73;
	color: white;
}

.chat-count {
	background-color: $pink;
	border-radius: 8px;
	padding: 2px 8px 0;
	color: white;
	line-height: 18px;
	display: inline-block;
}

///////////////////////////////////////////////////////////////////////////////////////
// Keyframe animations //
///////////////////////////////////////////////////////////////////////////////////////

@keyframes fadeOut {
	0% {opacity: 0;}
	10% {opacity: 1;}
	90% {opacity: 1;}
	100% {opacity: 0;}
}

@-webkit-keyframes blink {
	50% {
		background-color: $inactiveRed;
	}
	100% {
		background-color: transparent;
	}
}

@-moz-keyframes blink {
	50% {
		background-color: $inactiveRed;
	}
	100% {
		background-color: transparent;
	}
}

@-ms-keyframes blink {
	50% {
		background-color: $inactiveRed;
	}
	100% {
		background-color: transparent;
	}
}

@keyframes blink {
	50% {
		background-color: $inactiveRed;
	}
	100% {
		background-color: transparent;
	}
}

///////////////////////////////////////////////////////////////////////////////////////
// Media Queries //
///////////////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 900px) {
	.feeds-list-action {
		width: 73px;
	}
}

@media screen and (min-width: 1024px) {
	.feeds-list-action {
		width: 70px;
	}
}

@media screen and (min-width: 1200px) {
	.feeds-list-action {
		width: 68px;
	}
}

@media screen and (min-width: 1300px) {
	.feeds-list-action {
		width: 67px;
	}
}


///////////////////////////////////////////////////////////////////////////////////////
// Custom icon font //
///////////////////////////////////////////////////////////////////////////////////////

@charset "UTF-8";

@font-face {
  font-family: "ts-icons";
  src:url("../fonts/ts-icons.eot");
  src:url("../fonts/ts-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ts-icons.woff") format("woff"),
    url("../fonts/ts-icons.ttf") format("truetype"),
    url("../fonts/ts-icons.svg#ts-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ts-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ts-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ts-connection:before {
  content: "a";
}
.icon-ts-cancel:before {
  content: "b";
}
.icon-ts-checkmark:before {
  content: "d";
}
.icon-ts-ekg:before {
  content: "c";
}
.icon-ts-feeds:before {
  content: "e";
}
.icon-ts-templates:before {
  content: "f";
}
.icon-ts-trash:before {
  content: "g";
}
.icon-ts-profile:before {
  content: "h";
}
.icon-ts-condense:before {
  content: "i";
}
.icon-ts-expand:before {
  content: "j";
}

@font-face {
	font-family: "Orbitron";
	src:
		url("fonts/Orbitron-Regular.woff") format("woff"),
		url("fonts/Orbitron-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "LCDBOLD";
	src:
		url("fonts/LCDBOLD.woff") format("woff"),
		url("fonts/LCDBOLD.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
