<template name="ScreensHeader">
	<h1 class="left">Templates</h1>
	<a class='btn btn-floating waves-effect waves-light ts-green new-list-item' href="{{pathFor 'New Template'}}"><i class="material-icons">add</i> Add New Template</a>
	<div class="clearfix"></div>
</template>

<template name="ScreensBody">
	{{> autoformModals}}
	{{#contentFor region="appHeader" template="ScreensHeader"}}{{/contentFor}}
	<table class="hoverable">
		{{> ScreensTableWidths}}
		<thead>
			<tr cellpadding="10"><th>Title</th><th>Widget</th><th>Summary</th><th>Action</th></tr>
		</thead>
		<tbody>
			<tr id="item-insert" class="spacer td-closed"><td></td></tr>
			{{#each templatelist}}
				<tr>
					<td>{{title}}</td>
					<td><i class="{{isWidget}}"></i></td>
					<td>{{summary}}</td>
					<td><a class="table-action table-edit-item" href="{{pathFor 'Edit Template'}}"><i class="material-icons">mode_edit</i></a>{{#afModal classes="table-action table-cancel-item" collection="Screens" operation="remove" doc=_id title="<i class='material-icons'>error_outline</i><span class='modal-header'>Deleting Template</span>" buttonContent="Delete" buttonCancelContent="Cancel"}}<i class="icon-ts-trash"></i>{{/afModal}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</template>

<template name="ScreensTableWidths">
	<colgroup>
		<col style="width: 15%;">
		<col style="width: 12%;">
		<col style="width: 43%;">
		<col class="feeds-list-action">
	</colgroup>
</template>

<template name="NewItemDivider">
	<div class="div-container">
		<div class="divider"></div>
		<div class="dd-bg">
			<span class="divider-decoration"><i class="material-icons">expand_less</i></span>
		</div>
	</div>
</template>
