<template name="AppTopNav">
	<nav class="top-nav">
		<ul class="breadcrumb">
			{{> yield "breadcrumbs"}}
		</ul>
		<ul id="tnc" class="right">
			<li><a class="tnconn tooltipped" data-position="bottom" data-delay="300" data-tooltip="Current connection: {{currentConnectionName}}" href=""><i class="mdi-action-language"></i></a></li>
			<li><a class="debug-dropdown" href=""><i class="mdi-editor-merge-type"></i></a></li>
		</ul>
	</nav>
	{{> Debug}}
</template>

<template name="BreadcrumbsContent">
	{{#contentFor "breadcrumbs"}}
		<li><a href="/dashboard"><i class="mdi-action-home"></i><span class="fwHeavy">Home</span></a></li>
		{{#if route_base}}
			{{#each route_base}}
				<li class="bcd"><span class="bcds">/</span></li>
				<li><a href="{{path}}">{{title}}</a></li>
			{{/each}}
		{{/if}}
		{{#if route_extension}}
			{{#each route_extension}}
				<li class="bcd"><span class="bcds">/</span></li>
				<li><a href="{{path}}">{{item}}</a></li>
			{{/each}}
		{{/if}}
	{{/contentFor}}
</template>