<template name="AppTopNav">
	<nav class="top-nav">
		<ul class="breadcrumb">
			{{> yield "breadcrumbs"}}
		</ul>
		<ul id="tnc" class="right">
			<li><a class="hide-header" href="">
				{{#if headerVisible}}
					<i class="mdi-navigation-unfold-less"></i>
				{{else}}
					<i class="mdi-navigation-unfold-more"></i>
				{{/if}}
			</a></li>
			<li><a class="tnconn tooltipped" data-position="bottom" data-delay="300" data-tooltip="Current connection: {{currentConnectionName}}" href=""><i class="icon-ts-connection {{isConnected}}"></i></a></li>
			<li><a class="debug-dropdown" href=""><i class="icon-ts-ekg"></i></a></li>
		</ul>
	</nav>
	{{> DebugOverlay}}
</template>

<template name="BreadcrumbsContent">
	{{#contentFor "breadcrumbs"}}
		<li><a href="/dashboard"><i class="material-icons">home</i><span class="fwHeavy">Home</span></a></li>
		{{#if route_base}}
			{{#each route_base}}
				<li class="bcd"><span class="bcds">/</span></li>
				<li><a href="{{path}}">{{title}}</a></li>
			{{/each}}
		{{/if}}
		{{#if route_extension}}
			{{#each route_extension}}
				<li class="bcd"><span class="bcds">/</span></li>
				<li><a href="{{path}}">{{item}}</a></li>
			{{/each}}
		{{/if}}
	{{/contentFor}}
</template>
