

<head>
	<meta name="viewport" content="width=device-width" initial-scale="1">
	<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-152x152-precomposed.png">
	<link rel="icon" href="/images/favicon.png">
	<!--[if IE]><link rel="shortcut icon" href="/images/favicon.ico"><![endif]-->
	<meta name="msapplication-TileColor" content="#AED8E6">
	<meta name="msapplication-TileImage" content="/images/tileicon.png">

</head>


<body>
	
	
</body>




<template name="GeneralLayout">
	
  {{> autoformModals}}

<!--   <header>
    <h1>{{title}}</h1>
  </header> -->
	
	{{> TopNav }}
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="onlineUsers">
				<!-- {{> onlineAdmins }} -->
				{{#if isInRole 'admin'}}
				    {{>onlineUsers}} /Home
					{{#each appTitles}}
						/{{this}}
					{{/each}}
				{{/if}}
				</div>
			</div>
			<div class="col-md-12 column">
				{{> yield}}
			</div>
		</div>
	</div>
  <footer>

  </footer>
  
  
</template>