<template name="MasterLayout">
	<div class="row">
		{{> AppSideNav}}
		<div class="row">
			{{> AppTopNav}}
		</div>
		<div class="row">
			{{> AppBodyLayout}}
		</div>
	</div>
	{{> fontLicense}}
</template>

<!-- <template name="GeneralLayout">

  {{> autoformModals}}

	{{> TopNav }}
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="onlineUsers">
				{{> onlineAdmins }}
				{{#if isInRole 'admin'}}
				    {{>onlineUsers}} /Home
					{{#each appTitles}}
						/{{this}}
					{{/each}}
				{{/if}}
				</div>
			</div>
			<div class="col-md-12 column">
				{{> yield}}
			</div>
		</div>
	</div>
  <footer>

  </footer>


</template> -->
