<template name="ViewerLayout">
	<!-- stuff for viewer layout goes here. -->
	<div class="app-wrapper">

		<div class="app-body-wrapper">

			{{#transitioner}}
			  {{> yield}}
			{{/transitioner}}
			<style media="screen">
				html body.viewer-body div.app-wrapper div.app-header-wrapper { display: block !important;	height: 54px !important; opacity: 1 !important;	width: auto !important;	z-index: 1 !important; background-color: #353C51 !important; color: white !important;	}
				html body.viewer-body div.app-wrapper div.app-header-wrapper header { display: block !important;	height: 54px !important; opacity: 1 !important;	width: 100% !important;	z-index: 1 !important; background-color: #353C51 !important; color: white !important;	}
				html body.viewer-body div.app-wrapper div.app-header-wrapper header ul.viewer-header { display: -webkit-box !important; display: -webkit-flex !important; display: -ms-flexbox !important; display: flex !important;	height: 54px !important; opacity: 1 !important;	width: 100% !important;	z-index: 1 !important; color: white !important; }
				html body.viewer-body div.app-wrapper div.app-header-wrapper header ul.viewer-header li { display: list-item !important; height: auto !important; opacity: 1 !important;	width: auto !important;	z-index: 1 !important; color: white !important; }
				html body.viewer-body div.app-wrapper div.app-header-wrapper header ul.viewer-header li a.made-width { display: inline-block !important; color: white !important; font-size: 5vw !important; opacity: 1 !important; width: auto !important; background-color: transparent !important; z-index: 1 !important;}
			</style>
			{{#if runtimeErrors}}
				<div class="screen-errors">
					<p>Runtime Errors</p>
					{{runtimeErrors}}
				</div>
			{{/if}}
		</div>
		<!--  Header intentionally added AFTER body. Addressed with flexbox -->
		<div class="app-header-wrapper">
			<header>
				<ul class="viewer-header">
					<li></li>
					<li><a class="made-with" href="http://www.thingstud.io/" target="_blank">Made with ThingStudio</a></li>
					<li><span><a class="right viewer-connection-stat" href=""><i class="icon-ts-connection {{isConnected}}"></i></a></span></li>
				</ul>
			</header>
		</div>
		<div class="app-footer-wrapper">
			<footer>
				<ul>
					<!-- <li><span><a class="right viewer-connection-stat" href=""><i class="icon-ts-connection {{isConnected}}"></i></a></span></li> -->
					<li><a class="btn btn-flat footer-menu" href="{{pathFor 'ViewApp' data=appPathInfo}}">Menu</a></li>
					<!-- <li><span><a class="right viewer-connection-stat" href=""><i class="icon-ts-connection {{isConnected}}"></i></a></span></li> -->
				</ul>
				{{> fontLicense}}
			</footer>
		</div>
	</div>
</template>
