<template name="ViewerLayout">
	<!-- stuff for viewer layout goes here. -->
	<div class="app-wrapper">
		<div class="app-wrapper-inner">

			<div class="app-body-wrapper {{debugState}}">
				{{#transitioner}}
				  {{> yield}}
				{{/transitioner}}
				<style media="screen">
					{{appCSS}}
					html body.viewer-body div.app-wrapper div.app-header-wrapper, html body.credentials-body div.app-wrapper div.app-header-wrapper { display: block !important;	height: 54px !important; opacity: 1 !important;	width: auto !important;	z-index: 1 !important; background-color: #353C51 !important; color: white !important;	}
					html body.viewer-body div.app-wrapper div.app-header-wrapper header, html body.credentials-body div.app-wrapper div.app-header-wrapper header { display: block !important;	height: 54px !important; opacity: 1 !important;	width: 100% !important;	z-index: 1 !important; background-color: #353C51 !important; color: white !important;	}
					html body.viewer-body div.app-wrapper div.app-header-wrapper header ul.viewer-header, html body.credentials-body div.app-wrapper div.app-header-wrapper header ul.viewer-header { display: -webkit-box !important; display: -webkit-flex !important; display: -ms-flexbox !important; display: flex !important;	height: 54px !important; opacity: 1 !important;	width: 100% !important;	z-index: 1 !important; color: white !important; }
					html body.viewer-body div.app-wrapper div.app-header-wrapper header ul.viewer-header li, html body.credentials-body div.app-wrapper div.app-header-wrapper header ul.viewer-header li { display: list-item !important; height: auto !important; opacity: 1 !important;	width: auto !important;	z-index: 1 !important; color: white !important; }
					html body.viewer-body div.app-wrapper div.app-header-wrapper header ul.viewer-header li a.made-width, html body.credentials-body div.app-wrapper div.app-header-wrapper header ul.viewer-header li a.made-width { display: inline-block !important; color: white !important; font-size: 5vw !important; opacity: 1 !important; width: auto !important; background-color: transparent !important; z-index: 1 !important;}
				</style>
			</div>
			<div class="debug-wrapper {{debugState}}">
				<div class="debug-body">
					{{> DebugBody}}
				</div>
			</div>
		</div>
		<!--  Header intentionally added AFTER body. Addressed with flexbox -->
		{{> AppHeader}}
		{{> AppFooter}}
	</div>
</template>

<template name="AppHeader">
	<div class="app-header-wrapper">
		<header>
			<ul class="viewer-header">
				<li></li>
				<li><a class="made-with" href="http://www.thingstud.io/" target="_blank">Made with ThingStudio</a></li>
				<li><span>{{#if appHasMQTTConnection}}<a class="right viewer-connection-stat {{isConnected}}" href=""><i class="icon-ts-connection {{isConnected}}"></i></a>{{/if}}</span></li>
			</ul>
		</header>
	</div>
</template>

<template name="AppFooter">
	<div class="app-footer-wrapper">
		<footer>
			<ul>
				<!-- <li><a class="btn-footer-menu route" href="">Apps</a></li> -->
				<li><a class="btn-footer-menu route" href="{{pathFor 'ViewApp' data=appPathInfo}}">Menu</a></li>
				{{#if debugOpen}}
					<li><a class="btn-footer-menu debug" href="">Back</a></li>
				{{else}}
					<li><a class="btn-footer-menu debug" href="">Debug</a></li>
				{{/if}}
			</ul>
			{{> fontLicense}}
		</footer>
	</div>
</template>
