<template name="ViewerNav">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="navbar-header">
			 Made with ThingStudio Connection Status: {{connectionStatus}}
		    <button type="button" class="navbar-toggle btn-top-nav" data-toggle="collapse" data-target=".navbar-collapse">
			<i class="fa fa-bars"></i>
		    </button>
		    <button type="button" class="btn-top-nav">
		    	<a href="{{ pathFor 'viewermenu'}}">
		    		<i class="fa fa-list-alt"></i>
		    	</a>
		    </button>
		    <button class="btn-top-nav">
		    	<a href="{{ pathFor 'screens'}}">
		    		<i class="fa fa-paint-brush"></i>
		    	</a>
		    </button>
		      <a href="{{ pathFor 'connections' }}"><span class="Connection-status {{Connection_status}}"></span></a>
		  </div>
		  <div class="navbar-collapse collapse">
		    <ul class="nav navbar-nav navbar-left">
				{{#if isInRole 'admin'}}
				    
				{{/if}}
				<!-- <li class="main-nav-btn" role="presentation"><a  href="/viewermenu">Viewer</a></li>
				<li class="main-nav-btn" role="presentation"><a  href="/connections">Connections</a></li>
				<li class="main-nav-btn" role="presentation"><a  href="/feeds">Feeds</a></li>
				<li class="main-nav-btn" role="presentation"><a  href="/screens">Screens</a></li>
				<li class="main-nav-btn" role="presentation"><a  href="/themes">Themes</a></li>			 -->
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
	   	  <!-- <li class="list-right main-nav-btn" role="presentation"><a  href="/admin">Admin</a></li> -->
		  <!-- <li class="list-right main-nav-btn" role="presentation"><a  href="/screens">Studio Mode</a></li> -->
		  <!-- <li class="list-right main-nav-btn" role="presentation"><a  href="/docs">Docs</a></li> -->
		  {{#if currentUser}}
	   	  <li class="list-right main-nav-btn" role="presentation"><a class="list-right" href="/logout">Logout</a></li>
		  {{/if}}
		  <li class="list-right conn-stat"><a href="{{ pathFor 'connection' }}"><span class="Connection-status {{Connection_status}}"></span></a></li>
		    </ul>
		  </div>
		</nav>
</template>