# Exact versions of the backend's dependencies inside a bundle (tools/make_bundle.py, pip -c), so two builds
# of the same tag ship the same code. Resolved 2026-09-26 on linux-x86_64; every one of these must have a
# wheel for all five platforms (make_bundle.py installs wheels only, so a missing one fails the build).
# Update deliberately, one at a time, and keep docs/third-party-licenses.md's bundle table in step.
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
attrs==26.1.0
frozenlist==1.8.0
idna==3.20
multidict==6.9.1
propcache==0.5.4
pyserial==3.5
typing_extensions==4.16.0
yarl==1.25.1
